<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NextFlym.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB810B2B1C38471800E5E93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB810B421C38471800E5E93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB810B4D1C38471800E5E93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
